@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  background-image: radial-gradient(
    rgb(32, 32, 32) 1.5px,
    rgb(15, 15, 15) 0.1px
  );
  background-size: 30px 30px;
  background-position: -19px -19px;
}

.animation-floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.animation-floating-2 {
  animation-name: floating2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.animation-scale {
  animation-name: scale;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.animation-shift {
  animation-name: shift;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
@keyframes floating2 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 21px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
@keyframes shift {
  0% {
    transform: translate(0, 0px) rotate(45deg);

  }
  50% {
    transform: translate(-10px, -25px) rotate(45deg);
  }
  100% {
    transform: translate(0, -0px) rotate(45deg);
  }
}
@keyframes scale {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
